*{                          /*universal selector*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    display: box;
}

body{
    padding:40px;
    background-color: rgb(255, 255, 255);
}

h1{
    color:rgb(255, 29, 29);
    font-size: 80px;
    margin-top:10px ;
    margin-bottom: 10px;
}

p{
    font-size:20px;
}

.recipe{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:1200px;
    background-color: rgb(255, 254, 202);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

.nonveg{
    color:red;
}

img{
    border: 3px solid black ;
}

.ing li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:600px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

.dir li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:1200px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

.home{
    border:1px solid black;
    padding: 2px;
}

