*{                          /*universal selector*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* box-sizing: border-box; */
}

body{
    padding:0px;
    margin:0px;
    background-color: rgb(243, 242, 242);
}

.logo{
    color:rgb(255, 255, 255);
    width:200px;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 30px;
    margin:0px;
    /* margin-right:auto; */

}

p{
    font-size:20px;
}

.recipe{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    align-content:center;
    gap:5px;
    flex:1 1 auto;
    max-width: 350px;
    font-size: 20px;
    font-weight:500;
    min-height:200px;
    width:300px;
    height: 400px;
    background-color: rgb(250, 250, 219);
    padding: 7px;
    border:1px solid black;
    /* margin: 10px; */
    list-style:none;
}

.recipe img{
    height: 200px;
    width: 300px;
    border-radius: 100px ;
    flex-grow:1;
}


.nonveg{
    color:red;
}

img{
    border: 3px solid black ;
}

.recipe_img{
    display:flex;
    gap:1px;
    width:1460px;
    height:300px;
    border: 1px solid black;
}

.recipe_img img{
    border: 0px;
    flex:1 1 auto;
}

.top{
    font-size: 80px;
    margin: 10px;
}

#food{
    flex-basis:1460px;
    height:300px;
    flex-shrink: 1;
    border:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXJ894TxL_YaNLLtRYKiu9MbvcSjF558aWIFJbL5W4ng&s=10);
    background-position:center;
}

#food h2{
    font-size:140px;
    color: white;
    flex-shrink: 1;
}

.ing{
    display:flex;
    flex-wrap: wrap;
}

.ing li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:600px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
    list-style-type: none;
}

.dir li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:1200px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

#nav{
    display:flex;
    justify-content:flex-start;          /*horizontal alignment in the flex container on the basis of main axis*/
    align-items:flex-start;          /*vertical   alignment in the flex container along the cross axis */
    gap:15px;
    padding:0px;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-around;
}

.taskbar{
    display:flex;
    background-color: rgb(255, 31, 31);
    gap:10px;
    justify-content:center;
    align-items: center;
}

.task{
    display:flex;
    width:500px;
    height:80px;
    gap:20px;
    justify-content:center;
    align-items:center;
    align-content:space-around;
}

.task a{
    color:white;
    font-size: 20px;
    text-decoration:none;
}

button {
    color: red;
    border-radius: 50px;
    background-color: white;
    width: 90px;
    height: 30px;
}

.search{
    flex-shrink: 1;
    flex-basis:800px;
    height: 40px;;
    border: 1px solid black;
    border-radius: 200px;
    margin-right: auto;
    padding-left: 25px;
}

.main{
    padding:30px ;
}

.auth{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 1000px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRp44GpV171DvABDJMittZ_T0r6McXuGyY2G08ZuEnAfTAigha5WCgqTc&s=10);
    background-size: 2000px;
    background-repeat: no-repeat;
}


.formcard{
    display: flex;
    flex-basis:600px;
    height:800px;
    flex-shrink:1;
    border:1px solid rgb(0, 0, 0);
    background-color: white;
    justify-content: center;
    align-items:flex-start;
}

#intro{
    height:450px;
    background-color: #960000;
}

#intro header h1{
    margin-right: auto;
}

#intro header{
    background-color:#b5060086;
    padding-right:100px;
    padding-left:100px;
}

#subintro{
    display:flex;
    /* padding: 17px 100px 17px 100px; */
    justify-content: center;
    align-items:center;
    height:370px;
}
#content1{
    display: flex;
    gap:20px;
}
#content1 img{
    border-radius: 20px;
}
#main1{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-wrap:wrap;
}
#main1 h2{
    font-size: 60px;
    color: white;
    margin-bottom: 5px;
}
#main1 p{
    font-size: 20px;
    color: white;
}
#signbutt{
    background-color: rgb(255, 255, 149);
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
}

#feat{
    padding:5px 100px;
    min-height:440px;
}
#feat h2{
    text-align: center;
    font-size:30px;
}

#featcard{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    gap: 10px;
}
.card{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    padding: 4px;
    border: 4px solid #b5060086;
    height: 300px;
    flex-basis:250px;
    border-radius: 30px;
}

.card img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
}
.card h3{
    font-size: 27px;
    margin: 5px 0px ;
}

#quote{
    display: flex;
    height:300px;
    background-color: rgb(247, 228, 228);
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#quote p{
    font-size: 40px; 
    Color: #1F2937; 
    font-style: italic;
    flex-basis:500px;
    flex-grow:1;
    margin-top:40px;
    margin-right: 400px;
    margin-left:500px;
    margin-bottom: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

#action{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 250px;
}

#call{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 900px;
    border-radius: 30px;
    background-color: #a31a1a;
}

#signplease{
    flex-basis: 800px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

#written{
    display: flex;
    flex-direction:column;
    gap:2px;
    color: white;
}
#written h1{
    margin:0px;
}
#written p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px;
}
#signplease button{
    flex-basis: 100px;
    height: 45px;
    font-size: 15px;
    background-color: #a31a1a;
    color: white;
    border:2px solid white;
}

footer{
    height:100px;
    background-color: #1a0000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:30px;
    gap:1000px;
}
footer p{
    color:white;
}

