*{                          /*universal selector*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    padding:0px;
    margin:0px;
    background-color: rgb(255, 255, 255);
}

.logo{
    color:rgb(255, 255, 255);
    width:200px;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 30px;
    margin:0px;
}

p{
    font-size:20px;
}

.recipe{
    font-size: 20px;
    font-weight:500;
    min-height:150px;
    width:300px;
    background-color: rgb(255, 254, 202);
    padding: 7px;
     border:1px solid black;
    /* margin: 10px; */
    list-style:none;
}

.nonveg{
    color:red;
}

img{
    border: 3px solid black ;
}

.ing li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:600px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

.dir li{
    font-size: 20px;
    font-weight:500;
    height:auto ;
    width:1200px;
    background-color: rgb(252, 215, 210);
    padding: 7px;
    border:1px solid black;
    margin: 10px;
}

.home{
    border:1px solid black;
    padding: 2px;
}

#nav{
    display:flex;
    justify-content:flex-start;          /*horizontal alignment in the flex container on the basis of main axis*/
    align-items:flex-start;          /*vertical   alignment in the flex container along the cross axis */
    gap:15px;
    padding:0px;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-around;
}

.taskbar{
    display:flex;
    background-color: rgb(255, 31, 31);
    gap:750px;

}

.task{
    display:flex;
    width:400px;
    height:80px;
    gap:20px;
    justify-content:center;
    align-items:center;
    align-content:space-around;
}

.task a{
    color:white;
    font-size: 20px;
    text-decoration:none;
}

.main{
    padding: 30px;
}